@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: black;
}

a {
  text-decoration: none;
  color: floralwhite;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  background: #6b8e23;
  background: linear-gradient(
    180deg,
    rgba(107, 142, 35, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.main {
  width: 1400px;
  margin: 0 auto;
}

/*Header of site*/
header .header-title {
  padding: 30px 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

header .header-title img {
  height: 70px;
  width: auto;
}

header .header-title-text h1 {
  font-size: 30px;
  font-weight: 800;
  color: floralwhite;
}

header .header-title-text h2 {
  font-size: 20px;
  font-weight: 400;
  color: floralwhite;
}

header nav {
  padding: 10px 0;
  border-bottom: lightsteelblue solid 1px;
  border-top: lightsteelblue solid 1px;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 80px;
}

header nav ul li a {
  font-weight: 500;
  transition: color 0.4s ease;
}

header nav ul li a:hover {
  color: #ffd700;
}

header nav ul li a.active {
  color: #ffd700;
  font-weight: 800;
  border-bottom: #ffd700 solid 1px;
  cursor: default;
}

/*Main content index.html*/
main.main {
  padding: 30px 0;
  max-width: 1250px;
}

main .main-content-register h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

main .main-content-register p {
  font-size: 20px;
  width: 40%;
  margin-bottom: 30px;
}

main .main-register {
  display: flex;
  gap: 80px;
  margin-bottom: 20px;
}

main .main-register a {
  padding: 10px 20px;
  background-color: #ffd700;
  border-radius: 15px;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

main .main-register a:hover {
  background-color: floralwhite;
  color: #ffd700;
}

main p.main-content-warning {
  font-size: 12px;
  font-weight: 300;
  width: 25%;
}

main .main-content-about-system h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

main .about-block-conteiner {
  display: flex;
}

main .about-block {
  width: 30%;
  margin: 0 3%;
  background-color: #668e16;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 16px;
}

/*Fotter of site*/
footer {
  border-top: lightsteelblue solid 2px;
  padding: 20px 0;
  text-align: center;
}

/*Main content register.html*/
main.authentication {
  max-width: 500px;
  padding: 80px 0;
  margin: 0 auto;
}

main.authentication h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

main.authentication p {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}

main.authentication form {
  margin: 60px auto;
  padding: 30px 40px;
  border-radius: 16px;
  background: rgb(255, 208, 0);
}

main.authentication form label {
  color: cadetblue;
  font-size: 14px;
  font-weight: 500;
}

main.authentication form input {
  background-color: lightblue;
  border-radius: 10px;
  border: 1px solid cadetblue;
  display: block;
  padding: 10px 20px;
  width: 90%;
  outline: none;
  margin-top: 5px;
  margin-bottom: 15px;
}

main.authentication form button {
  display: block;
  margin: auto;
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: royalblue;
  color: floralwhite;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
  border: none;
}

main.authentication form button:hover {
  background-color: floralwhite;
  color: royalblue;
}

main.authentication form .log-in-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

main.authentication form .log-in-link p {
  font-size: 14px;
  font-weight: 400;
  color: floralwhite;
}

main.authentication form .log-in-link a {
  font-size: 14px;
  font-weight: 400;
  color: royalblue;
}

main.authentication form .log-in-link a:hover {
  text-decoration: underline royalblue 1.5px solid;
  text-underline-offset: 3px;
}

/*Main content log-in.html*/
main.authentication form .register-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

main.authentication form .register-link p {
  font-size: 14px;
  font-weight: 400;
  color: floralwhite;
}

main.authentication form .register-link a {
  font-size: 14px;
  font-weight: 400;
  color: royalblue;
}

main.authentication form .register-link a:hover {
  text-decoration: underline royalblue 1.5px solid;
  text-underline-offset: 3px;
}
