@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: floralwhite;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

.wrapper {
  background: #6b8e23;
  background: linear-gradient(
    180deg,
    rgba(107, 142, 35, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.main {
  width: 1400px;
  margin: 0 auto;
}

.header-title {
  padding: 30px 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: floralwhite;
}

.header-title img {
  height: 70px;
  width: auto;
}

.header-title-text h2 {
  font-size: 30px;
  font-weight: 800;
}

.header-title-text h3 {
  font-size: 20px;
  font-weight: 400;
}

header nav {
  padding: 10px 0;
  border-bottom: lightsteelblue solid 1px;
  border-top: lightsteelblue solid 1px;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

header nav ul li a {
  font-weight: 500;
  transition: color 0.4s ease;
}

header nav ul li a:hover {
  color: #ffd700;
}

header nav ul li a.active {
  color: #ffd700;
  font-weight: 800;
  border-bottom: #ffd700 solid 1px;
  cursor: default;
}

main {
  padding: 30px 0;
  max-width: 1250px;
}

main .main-content-register h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

main .main-content-register p {
  font-size: 20px;
  width: 40%;
  margin-bottom: 30px;
}

main .main-register {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

main .main-register a {
  padding: 10px 20px;
  background-color: #ffd700;
  border-radius: 15px;
  transition:
    background-color 0.4s ease,
    color 0.4s ease;
}

main .main-register a:hover {
  background-color: aliceblue;
  color: #ffd700;
}

main p.main-content-warning {
  font-size: 12px;
  font-weight: 300;
  width: 25%;
}

main .main-content-about-system h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

main .about-block-conteiner {
  display: flex;
}

main .about-block {
  width: 30%;
  margin: 0 3%;
  background-color: #668e16;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 16px;
}

footer {
  border-top: lightsteelblue solid 1px;
  padding: 20px 0;
  text-align: center;
}
