<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстр бійців - ArmyData System</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="main header">
            <div class="header-title">
                <img src="/img/tryzub.png" alt="tryzub">

                <div class="header-title-text">
                    <h1>ДЕРЖАВНИЙ РЕЄСТР ОСОБОВОГО СКЛАДУ</h1>
                    <h2>Міністрерство Оборони України</h2>
                </div>

                <img src="/img/logo_mdu.png" alt="logo MDU">
            </div>

            <nav class="header-nav">
                <ul class="nav-menu">
                    <li><a href="/">Головна</a></li>
                    <li><a href="#" class="active">Реєстр бійців</a></li>
                    <li><a href="/profile">Особистий кабінет</a></li>
                    <li><a href="/log-in">Увійти в систему</a></li>
                    <li><a href="/register">Зареєструватися</a></li>
                </ul>
            </nav>
        </header>

        <main class="fighters">
            <h2>Реєстр особового складу</h2>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th class="full-name">ПІБ</th>
                            <th class="rank">Звання</th>
                            <th class="unit">Підрозділ</th>
                            <th class="position">Посада</th>
                            <th class="status">Статус</th>
                            <th class="birth-date">Дата народження</th>
                            <th class="email">Email</th>
                            <th class="action" id="action-header" style="display: none;">Дії</th>
                        </tr>
                    </thead>
                    <tbody id="fighters-list">
                    </tbody>
                </table>
            </div>

            <button id="add-fighter-button" type="button">Додати бійця</button>
        </main>

        <footer class="main footer">
            <p>© 2026 АС «ArmyData System» · Міністерство оборони України</p>
        </footer>
    </div>
</body>

</html>