<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстр бійців - ArmyData System</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="main header">
            <div class="header-title">
                <img src="/img/tryzub.png" alt="tryzub">

                <div class="header-title-text">
                    <h1>ДЕРЖАВНИЙ РЕЄСТР ОСОБОВОГО СКЛАДУ</h1>
                    <h2>Міністрерство Оборони України</h2>
                </div>

                <img src="/img/logo_mdu.png" alt="logo MDU">
            </div>

            <nav class="header-nav">
                <ul class="nav-menu">
                    <li><a href="/">Головна</a></li>
                    <li><a href="#" class="active">Реєстр бійців</a></li>
                    <li><a href="/profile">Особистий кабінет</a></li>
                    <li><a href="/log-in">Увійти в систему</a></li>
                    <li><a href="/register">Зареєструватися</a></li>
                </ul>
            </nav>
        </header>

        <main class="fighters">
        </main>

        <footer class="main footer">
            <p>© 2026 АС «ArmyData System» · Міністерство оборони України</p>
        </footer>
    </div>
</body>

</html>