<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArmyData System</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="main header">
            <div class="header-title">
                <img src="/public/img/tryzub.png" alt="tryzub">

                <div class="header-title-text">
                    <h1>МІНІСТЕРСТВО ОБОРОНИ УКРАЇНИ</h1>
                    <h2>Державний реєстр особового складу</h2>
                </div>

                <img src="/public/img/logo_mdu.png" alt="logo MDU">
            </div>

            <nav class="header-nav">
                <ul class="nav-menu">
                    <li><a href="/views/index.html">Головна</a></li>
                    <li><a href="#">Реєстр бійців</a></li>
                    <li><a href="/views/log-in.html">Увійти в систему</a></li>
                    <li><a href="#" class="active">Зареєструватися</a></li>
                </ul>
            </nav>
        </header>

        <main class="authentication">
            <h2>Зареєструватися</h2>
            <p>Створіть обліковий запис, щоб отримати доступ до системи та керувати даними персоналу.</p>
            <form>
                <label for="email">Email Адреса</label>
                <input id="email" type="email" placeholder="email">

                <label for="password">Пароль</label>
                <input id="password" type="password" placeholder="password">

                <label for="password-repeat">Пароль (повторити)</label>
                <input id="password-repeat" type="password" placeholder="password">

                <button type="submit">Зареєструватися</button>

                <div class="log-in-link">
                    <p>Вже зареєстровані?</p>
                    <a href="/views/log-in.html">Увійти в систему</a>
                </div>
            </form>
        </main>

        <footer class="main footer">
            <p>© 2026 АС «ArmyData System» · Міністерство оборони України</p>
        </footer>
    </div>
</body>

</html>